<h1>Listing Users</h1>

<% @users.each do |u| %>
	<%= link_to_if(can?(:read, User), "#{u.email}", user_path(u.id), class: 'btn btn-mini') %>
	<%= link_to_if(can?(:edit, User), 'Edit', edit_user_path(u.id), class: 'btn btn-mini') %>
	<%= "#{u.roles.collect{|r| r.name}}" %>
	
	<%= link_to_if(can?(:delete, u), 'Delete', u, :confirm => "Are you sure?", :method => :delete, class: 'btn btn-mini') %>
<% end %>